@import "tailwindcss";

@theme {
  --color-primary: #8b5cf6;
  --color-primary-dark: #7c3aed;
  --color-secondary: #14b8a6;
  --color-light: #F9FAFB;
  --color-dark: #1F2937;
  --color-medium: #6B7280;

  --font-sans: "Inter", sans-serif;
}